$primary-color: #99a9bf;
$primary-color-light: #eef1f6;
$primary-color-dark: #24305e;

$red-color-light: #f76c6c;
$secondary-color: #f8e9a1;

$third-color: #b0f8a1;
$third-color-light: #dbf8a1;
$white: #fff;

$word-color: #333;
$black: #000;
