$primary-color: #99a9bf;
$primary-color-light: #eef1f6;
$primary-color-dark: #24305e;

$light-color: #f2f4f7;
$purple-light: #efe6e9;
$purple: #DFCCD4;
$secondary-color: #f8e9a1;

$third-color: #b0f8a1;
$third-color-light: #dbf8a1;
$white: #fff;

$word-color: #333;
$black: #000;
